{{! js 는 용량이 크면 화면 그려지는데 오래 걸리므로 footer 에서 적용}}
{{! bootstrap 은 jquery 가 있어야만 되므로 순서 유의}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/index.js"></script>

</body>
</html>